* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient( 135deg, #eff6ff, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.auth-card {
    width: 100%;
    max-width: 430px;
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(15, 23, 42, 0.12);
}

.logo {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.logo span {
    color: #2563eb;
}

.auth-card h1 {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #64748b;
    font-size: 14px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #334155;
}

input {
    padding: 13px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    margin-bottom: 18px;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #2563eb;
}

button {
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background: #1d4ed8;
}

.bottom-text {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: #64748b;
}

.bottom-text a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}